
body { font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
.navbar-brand { font-weight: 600; }
.card { border-radius: 0.6rem; }

.toast-container {
    position: fixed;
    top: 20px;       
    right: 20px;     
    z-index: 9999;   
}


body {
  background-image: url('images/background1.jpeg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}
